.catalog-produts__list {
  @include list-style();
}

.catalog-produts__item {
  @include wrapper(210px, 320px, $white, 0);
  @include flex-row();
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 20px;
}

.catalog-produts__title {
  @include base-font(16px, 1.25);
  padding-top: 25px;
  padding-bottom: 15px;
  text-transform: uppercase;
  max-width: 75px;
  margin: 0;
}

.catalog-produts__property {
  @include base-font(12px, 1.25, $greyish-brown, $base-font);
  width: 140px;

  p {
    margin: 0;
    padding: 1px 0;
  }
}

.catalog-produts__button {
  @include green-button;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.catalog-produts__foto {
  width: 140px;
  height: 144px;
}

@media (min-width: $tablet-width) {
  .catalog-produts__list {
    @include wrapper(100%, 768px, $white, 0);
    @include flex-row();
  }

  .catalog-produts__item {
    @include wrapper(431px, 324px, $middle-grey, 38px);
    border: none;
    margin-bottom: 140px;
  }

  .catalog-produts__title {
    @include base-font(20px, 1);
    padding-top: 35px;
    padding-bottom: 17px;
    text-transform: uppercase;
    max-width: 135px;
    margin: 0 auto;
    text-align: center;
  }

  .catalog-produts__property {
    width: 250px;
    margin: 10px auto;

    p {
      @include flex-row();
      @include base-font(16px, 1.5, $greyish-brown, $base-font);
      justify-content: space-between;
      padding-bottom: 5px;
      border-bottom: 1px solid $very-light-pink;
      margin: 5px;
    }
  }

  .catalog-produts__foto--small {
    padding: 0;
    width: 245px;
    height: 174px;
    margin: -45px auto 0 auto;
  }

  .catalog-produts__foto--big {
    width: 245px;
    height: 208px;
    margin: -80px auto 0 auto;
  }

  .catalog-produts__button {
    width: 250px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .catalog-produts__list {
    @include wrapper(100%, 1220px, $white, 0);
  }

  .catalog-produts__item {
    @include wrapper(431px, 245px, $middle-grey, 0);
    margin: 0 0 140px 0;
  }

  .catalog-produts__property {
    margin: 20px auto;
    width: 169px;
  }

  .catalog-produts__button {
    width: 169px;
  }
}
