.extra {
  @include wrapper(642px, 100%, $white, 0);
}

.extra__title {
  @include wrapper(100%, 320px, $white, 20px);
  @include title-font(24px, 1);
  padding: 31px 0;
  position: relative;

  &::after {
    @include pseudo(53px, 3px, 45px, 0, 0, 248px);
    background-color: $green;
  }
}

.extra-produts__list {
  list-style: none;
}

.extra-produts__item {
  @include wrapper(128px, 320px, $white, 0);
  @include base-font(14px, 1, $greyish-brown);
  border-bottom: 1px solid $very-light-pink;
  padding-bottom: 17px;
  margin: 0 auto;

  &:first-child {
    border-top: 1px solid $very-light-pink;
    padding-top: 14px;
  }

  p {
    @include flex-row();
  }
}

.extra-produts__title {
  @include base-font(16px, 1, $black-three);
  text-transform: uppercase;
}

.extra-produts__button {
  @include green-button;
  text-align: center;
  width: 293px;
  padding: 13px;
  margin: 0 auto;
}
