.extra {
  @include wrapper(642px, 100%, $white, 0);
}

.extra__title {
  @include wrapper(100%, 320px, $white, 20px);
  @include title-font(24px, 1);
  padding: 23px 0;
  position: relative;

  &::after {
    @include pseudo(53px, 3px, 35px, 0, 0, 248px);
    background-color: $green;
  }
}

.extra-produts__list {
  list-style: none;
  padding: 0;
}

.extra-produts__item {
  @include wrapper(128px, 320px, $white, 0);
  @include base-font(14px, 1, $greyish-brown);
  border-bottom: 1px solid $very-light-pink;
  padding-bottom: 17px;
  margin: 0 auto;

  &:first-child {
    border-top: 1px solid $very-light-pink;
  }

  p {
    @include flex-row();
  }
}

.extra-produts__title {
  @include base-font(16px, 1, $black-three);
  text-transform: uppercase;
  margin: 0;
  padding-top: 14px;

  p {
    margin: 0;
  }
}

.extra-produts__button {
  @include green-button;
  text-align: center;
  width: 293px;
  padding: 10px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .extra-produts__item {
    @include wrapper(140px, 708px, $white, 0);
    @include base-font(16px, 1.25, $greyish-brown);
    border-left: 1px solid $very-light-pink;
    border-right: 1px solid $very-light-pink;
    padding: 7px 30px 24px 30px;

    p {
      display: inline-block;
      width: 40%;
      text-align: right;
    }

    .extra__field {
      padding-right: 52px;
    }
  }

  .extra-produts__title {
    @include base-font(20px, 1, $black-three);
    display: inline-block;
    width: 58%;
    padding-bottom: 26px;
  }

  .extra__title {
    @include title-font(36px, 1);
    width: 100%;
    padding: 63px 0 63px 67px;
    margin: 0;
    z-index: 0;

    &::after {
      @include pseudo(100%, 3px, 95px, 0, 0, 0);
      z-index: -1;
    }

    span {
      background-color: $white;
      padding: 0 37px;
    }
  }

  .extra-produts__button {
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    @include wrapper(542px, 100%, $white, 0);
  }

  .extra-produts__list {
    @include wrapper(66px, 867px, $white, 0);
    margin-left: 110px;
    display: inline-block;
    margin-top: 75px;
  }

  .extra-produts__title {
    @include base-font(20px, 1, $black-three);
    display: inline-block;
    width: 20%;
    padding-bottom: 0;
  }

  .extra-produts__item {
    @include wrapper(71px, 894px, $white, 0);
    border-left: none;
    border-right: none;
    margin-bottom: 0;
    padding: 7px 0 0 4px;

    p {
      width: 43%;
      text-align: right;
    }
  }

  .extra__field {
    padding-right: 52px;
    text-align: left;
  }

  .extra-produts__button {
    width: 245px;
    margin-left: 48px;
  }

  .extra__title {
    padding: 60px 0 3px 67px;
  }
}
