.first-screen {
  @include wrapper(481px, 100%, none, 0);
  position: relative;
  text-align: center;
}

.first-screen__title {
  @include base-font(36px, 1, $white);
  padding-top: 25px;
  margin: 0;
}

.first-screen__slogan {
  @include base-font(14px, 1, $white);
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 260px;
}

.first-screen__button {
  @include green-button;
  @include base-font(14px, 1.29, $white);
  width: 280px;
  padding: 12px;
  margin-top: 30px;
}

.first-screen__cat {
  @include wrapper(305px, 100%);
  background: $green url("../../img/index-background-mobile@1x.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.first-screen__foto {
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 50px;
  margin: auto;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .first-screen {
    @include wrapper(854px, 100%, none, 120px);
    margin: 0;
    text-align: left;
  }

  .first-screen__cat {
    background: none;
  }

  .first-screen__title {
    @include base-font(60px, 1, $black);
    padding-top: 48px;
  }

  .first-screen__slogan {
    @include base-font(20px, 1, $black);
    padding-bottom: 28px;
  }

  .first-screen__foto {
    @include pseudo(709px, 609px, 0, 0, 0, 0);
    margin: auto;
    z-index: -1;
  }

  .first-screen__button {
    @include base-font(20px, 1, $white);
    width: 211px;
    padding: 17px;
  }
}

@media (min-width: $desktop-width) {
  .first-screen {
    @include wrapper(599px, 100%, none, 0);
    @include flex-row();
    padding-left: 0;
    text-align: left;
  }

  .first-screen__cat {
    @include wrapper(696px, 50%, $green, 0);
    background: {
      color: $green;
      image: url("../../img/index-background-desktop@1x.jpg");
      repeat: no-repeat;
    }
    max-height: 696px;
    margin-top: -122px;
    position: relative;
  }

  .first-screen__title {
    padding-top: 100px;
    padding-left: 193px;
  }

  .first-screen__slogan {
    padding-bottom: 33px;
    padding-left: 193px;
  }

  .first-screen__button {
    margin-left: 193px;
  }

  .first-screen__wrapper {
    width: 50%;
  }

  .first-screen__foto {
    width: 552px;
    height: 499px;
    top: -60px;
    left: 220px;
  }
}
