.products {
  @include wrapper(606px, 100%, $white, 20px);
}

.products__list {
  @include list-style();
  @include flex-row();
}

.products__item {
  @include wrapper(266px, 100%, $middle-grey, 20px);
  margin-top: 20px;
}

.products__item:first-child {
  margin-top: 0;
}

.products__title {
  @include base-font(24px, 1.54);
  text-transform: uppercase;
}

.products__description {
  @include text-font();
}

.products__link {
  @include base-font(16px);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .products {
    @include wrapper(825px, 708px, $white, 0);
  }

  .products__item {
    @include wrapper(372px, 708px, $middle-grey, 20px);
    margin-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    @include wrapper(531px, 1220px, $white, 0);
    padding-top: 70px;
  }

  .products__item {
    @include wrapper(332px, 570px, $middle-grey, 47px);
    margin: 0;
  }
}
