.show-more__action {
  @include base-font (16px, 1.25);
}

.show-more__description {
  @include base-font (12px, 1.33, $greyish-brown, $base-font);
}

.show-more__button {
  @include grey-button;
  padding: 12px 108px;
}

.show-more {
  @include wrapper(210px, 320px, $white, 20px);
  border-top: 1px solid $light-gray;
  text-align: center;
}
