.site-list {
  @include list-style();
}

.site-list__item {
  border-bottom: 1px solid $light-gray;
  padding-top: 24px;
  padding-bottom: 20px;
  a {
    @include base-font(20px, 1, $black, $oswald-font, 500);
    text-transform: uppercase;
  }
  &:first-child {
    border-top: 1px solid $light-gray;
    a {
      padding-left: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 565px;
  }

  .site-list__item {
    border: none;
    a {
      @include base-font(18px, 1.39, $black-three, $oswald-font, 500);
      margin-left: 36px;
      border: none;
    }
    &:first-child {
      border: none;
    }

    &--active {
      position: relative;

      &::after {
        @include pseudo(168px, 2px, 60px, 0, 0, 35px);
        background: $green;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list a {
    @include base-font(20px, 1.25, $black-three, $oswald-font, 500);
  }

  .site-list--index a {
    @include base-font(20px, 1.25, $white, $oswald-font, 500);
  }

  .page-header--index .site-list__item {
    &::after {
      @include pseudo(68px, 2px, 60px, 0, 0, 35px);
      background: $white;
    }
  }

  .page-header--catalog .site-list__item {
    &::after {
      background: $green;
    }
  }
}
