.social {
  @include flex-row();
  @include list-style();
  width: 170px;
  margin: 0 auto;
}

.social__item {
  margin: 21px 20px 38px 20px;
}

.social__link {
  &:hover,
  &:focus {
    stroke: $green;
  }

  &:active {
    stroke: rgba($green, 0.3);
  }
}
