$white: #ffffff;
$black: #000000;
$green: #68b738;
$light-gray: #ededed;
$middle-grey: #f2f2f2;
$dark-gray: #666666;
$slider-gray: #eaeaea;
$greyish-brown: #444444;

$oswald-font: "oswald", arial, sans-serif;
$base-font: arial, sans-serif;
