$white: #ffffff;
$black: #000000;
$green: #68b738;
$light-gray: #ededed;
$middle-grey: #f2f2f2;
$dark-gray: #666666;
$slider-gray: #eaeaea;
$greyish-brown: #444444;
$black-three: #222222;
$very-light-pink: #cdcdcd;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

$oswald-font: "oswald", arial, sans-serif;
$base-font: arial, sans-serif;
